%h3 Constitution

%ol

  %li This is the constitution ("Constitution") of Rewired State ("RS").
  %li RS has the objectives ("Objectives") of [objectives].
  %li RS may hold, transfer and dispose of material assets and intangible assets.
  %li RS uses an electronic management system to automate clerical processes ("Management System").
  %li RS has one or more members ("Members") who support RSÕs Objectives.
  %li Members may access the Management System at the website http://manage.rewiredstate.org
  %li Members may view a register of current Members on the Management System.
  %li Members may submit a proposal ("Proposal") on the Management System.
  %li A Proposal may be voted on for the period of 72 hours starting with its submission ("Voting Period").
  %li Members may view a register of current Proposals on the Management System.
  %li Members may vote to support ("Supporting Vote") or vote to oppose ("Opposing Vote") a Proposal on the Management System during the ProposalÕs Voting Period.
  %li Members may only vote on Proposals submitted during their membership of RS. 
  %li A decision ("Decision") to enact a Proposal is made when Supporting Votes have been received from more than half of the Members during the Voting Period; or when more Supporting Votes than Opposing Votes have been received for the Proposal at the end of the Voting Period.
  %li Members may view a register of all Decisions on the Management System.
  %li A new Member is appointed by a Decision.
  %li An amendment to the Constitution is made by a Decision.
  %li A Member may resign from RS by informing the other Members in writing.
  %li RS may be dissolved by a Decision. In this eventuality any assets held by RS shall be transferred to another non-profit-making entity with similar objectives. The last Member to hold the role of Treasurer shall be responsible for selecting and nominating this entity.

%h4 New Proposal
= form_for(@new_proposal, :action => resource('proposals')) do
  = text_field :title, :label => "Title  "
  %br
  = text_area :description, :label => "Description "
  %br
  = submit "Create Proposal", :id => 'submit'
  %br